# Tuple

In [3]:
# Tuple
# (item1, item2, ....)
#sequence of items as a collection
t1=("Python",10,1.5,True,[1,2,3],(10,20))
print(len(t1))

# Accessing item of a tuple - index
print(t1[0])
print(t1[-1])

6
Python
(10, 20)

In [5]:
t1=(10,20,30)
print(t1)
print(type(t1))

(10, 20, 30)
<class 'tuple'>

In [6]:
t1=10,20,30,40
print(t1)
print(type(t1))

(10, 20, 30, 40)
<class 'tuple'>

In [10]:
l1=[1,2,3]
print(type(l1))
t1=tuple(l1)
print(t1)
print(t1,type(t1))
print(l1,type(l1))

<class 'list'>
(1, 2, 3)
(1, 2, 3) <class 'tuple'>
[1, 2, 3] <class 'list'>

In [14]:
fruits=("Mango","Orange","Apple")
print(fruits,type(fruits))

fruits = list(fruits)
print(fruits,type(fruits))

('Mango', 'Orange', 'Apple') <class 'tuple'>
['Mango', 'Orange', 'Apple'] <class 'list'>

# Basic Operation of tuples

In [27]:
"""
concatenation, repetation, membership, count, index
min, max, sum
"""
student_details1 =(1001,"John")
student_details2 =(78.5,91.0,83.5,79.5)

# +
student_details = student_details1+student_details2
print(student_details)

# *
t1=("class 5",5000)
print(t1*3)

# in, not in
print(91.0 in student_details2)
print(99.0 not in student_details2)

# count
t1=(10,4,1,9,0,3,1)
# tuple.count(element)
print(t1.count(1))

# index()
print(t1.index(0)) #what is the index of 4 in tuple t1?


# min()
# max()
# sum()
print(f"Smalled number: {min(t1)}")
print(f"Biggest number: {max(t1)}")
print(f"Total: {sum(t1)}")

(1001, 'John', 78.5, 91.0, 83.5, 79.5)
('class 5', 5000, 'class 5', 5000, 'class 5', 5000)
True
True
2
4
Smalled number: 0
Biggest number: 10
Total: 28

# list are mutable! Tuples are not

In [36]:
# Mutability & Immutability
#lists are mutable
# Tuples and strings are Immutable

s1 = "Python is fun"
s2=s1.replace("Python","Java")
print(s1)
print(s2)


# t1=("Mango","Orange","Apple")
# t1.append("Banan")
# print(t1)  --> Immutable

l1=["Mango","Orange","Apple"]
l1.append("Banana")
print(l1) # Mutable

l1=["Mango","Orange","Apple"]
print(id(l1))
l1.append("Banana")
print(l1)
print(id(l1))


# a1=["Mango","Orange","Apple"]
# a1[-1]="Apple"
# print(a1)

a1=["Mango","Orange","Apple"]
print(id(a1))
a1[-1]="Apple"
print(a1)
print(id(a1))

Python is fun
Java is fun
['Mango', 'Orange', 'Apple', 'Banana']
2326919393472
['Mango', 'Orange', 'Apple', 'Banana']
2326919393472
2326919535488
['Mango', 'Orange', 'Apple']
2326919535488

# set

In [38]:
# sets are non-sequential collection of items
# comma seperated elements enclosed within {}
# Sets do not allow duplicate elements
l1=[10,2.5,10,30,10]
print(l1,type(l1))

s1={10,2.5,10,30,10}
print(s1,type(s1))

[10, 2.5, 10, 30, 10] <class 'list'>
{10, 2.5, 30} <class 'set'>

# Basic Operation of Set

In [52]:
nums ={1,3,2,0,-1}

# Membership operator --> in, not in
# print(0 in nums)
# print(10 not in nums)

# concatenation
nums_1={1,3,2,0,-1}
nums_2={3,5}
# print(nums_1 + nums_2)

# repeating sets
# print(nums_1 * 2)

weekdays = ("Mon","Tue","Wed","Thu","Fri","Sat","Sun")
weekdays = set(weekdays)
print(weekdays)

# are set mutable or immutable
set1 ={2,0,-1}
# set1[0]=10

# add()
set1.add(5)
print(set1)

# remove
set1.remove(0)
print(set1)
# set1.remove(0)
# print(set1)
set1.add(0)
print(set1)
set1.add(0)
print(set1)

# discard
set1.discard(0)
print(set1)

set1.discard(10)
print(set1)

{'Thu', 'Sat', 'Sun', 'Mon', 'Tue', 'Fri', 'Wed'}
{0, 2, 5, -1}
{2, 5, -1}

KeyError: 0

# Operation in Set

In [6]:
student1={"English","Maths","CS","Chemistry","Physics"}
student2={"English","Biology","Chemistry","Physics"}
student3={"Sanskrit","Maths","CS"}

print(student1, type(student1))
print(student2, type(student2))

# Common subject of student1 and student2 -intersection
common_subject = student1.intersection(student2)
print(common_subject)
# or
common_subject1=student1 & student2
print(common_subject1)

# all subjects of student1 and student2 - union
all_subject = student1.union(student2)
print(all_subject)

# or
all_subject1=student1.union(student2,student3)
print(all_subject1)

# or
all_subjects=student1 | student2 | student3
print(all_subjects)

{'Chemistry', 'CS', 'Physics', 'English', 'Maths'} <class 'set'>
{'Chemistry', 'Physics', 'English', 'Biology'} <class 'set'>
{'Chemistry', 'Physics', 'English'}
{'Chemistry', 'Physics', 'English'}
{'CS', 'Biology', 'English', 'Chemistry', 'Physics', 'Maths'}
{'Sanskrit', 'CS', 'Biology', 'English', 'Chemistry', 'Physics', 'Maths'}
{'Sanskrit', 'CS', 'Biology', 'English', 'Chemistry', 'Physics', 'Maths'}

In [9]:
days ={"Mon","Tue","Wed","Thu","Fri","Sat","Sun"}
weekends ={"Sat","Sun"}

# Differencet of sets
weekdays = days - weekends # Elements of days which are not in weekends 
print(weekdays)

# or
weekdays1=days.difference(weekends)
print(weekdays)

{'Thu', 'Mon', 'Tue', 'Fri', 'Wed'}
{'Thu', 'Mon', 'Tue', 'Fri', 'Wed'}

# Frozon Set

In [17]:
s1={1,2,3,4}
s1.add(-1)
print(s1,type(s1))

# Frozen sets - Immutable sets
fs1=frozenset({10,20,30})
print(fs1, type(fs1))

fs2=frozenset({10,20,300,50})
print(fs2,type(fs2))

print(fs1 & fs2)

print(fs1 | fs2)

print(fs2 - fs1)

{1, 2, 3, 4, -1} <class 'set'>
frozenset({10, 20, 30}) <class 'frozenset'>
frozenset({10, 20, 50, 300}) <class 'frozenset'>
frozenset({10, 20})
frozenset({50, 20, 10, 300, 30})
frozenset({50, 300})